.yx{
    text-align: center;
    font-size: 30px;
   
}

h1{
   font-size: 80px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button{
    background-color: blue;
    width: 180px;
    height: 80px;
}

button:hover{
    background-color: green;
}
